@import '../../variables.scss';
@import '../../App.scss';


#contact {
    background-image: url('../.././assets/pink-clouds.jpg');
    background-size: cover;
    width: 70%;
    height: 80vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: auto;
    margin-top: 200px;
    border: 2px solid black;
    max-width: 900px;

    @include tablet {
        width: 90%;
    }
}

.spacer {
    height: 40px;
}
.comp-pic {
    position: absolute;
    max-width: 900px;
    max-height: 900px;
    width: 70%;
    height: 60%;
    margin-top: -40px;

    @include tablet {
        width: 90%;
    }
}

form {
    position: relative;
    width: 58%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap: 10px;
    padding-right: 10px;

    input,
    textarea {
        padding: 9px;
        background-color: white;
        border: 1px solid black;
        color: black;
        border-radius: 10px;
    }

    button {
        padding: 2px;
        border: 2px dashed black;
        border-radius: 20px;
        background-color: $lightBlue;
        cursor: pointer;
        color: white;
        text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 15px;
        font-weight: bolder;
    }
}